.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weather-container {
  border-style: none;
  border: 1px solid #294757;
  background-color: hsl(201, 36%, 25%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  gap: 20px;
  align-items: center;
}


.conIcons {
  width: 60px;
  height: 60px;
}

.icon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.right {
  color: #2e3334;
  font-size: 20px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.location {
  font-size: 40px;
  display: flex;
  margin-top: 0.3rem;
}

.bottom {
  color: #00414bd2;
  margin: 3rem 10px;
  font-size:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-detail {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border-bottom: 0.7px solid rgba(159, 155, 155, 0.071);
  font-size: 15px;
  font-weight: 600;
}

.temperature-description {
  margin-bottom: 1rem;
  font-size: 26px;
}

.date {
  font-size: 1.5rem;
  margin-top: 15px;
}

.weather-detail{
  font-size: 24px;
  background-color: rgba(11.4%, 18.4%, 22.4%, 0.5);
  border-radius: 0.5em;
}

.weather-detail .conIcons{
  width: 100px;
  height: 100px;
}

.weather-detail span {
  color: #2e3334;
  font-weight: light;
  font-size: 20px;
  margin-left: 0.5em;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .weather-container{
    width: 70%;
    align-self: center;
    justify-self: center;
    margin-top: 8em;
    border-radius: 0.5em;;
  }
  
  /* Karen add your css here */

  .icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 9.5rem;
    right: 17rem;
  }

  .right {
    color: #2e3334;
    font-size: 20px;
    margin-left: 8em;
    margin-right: 8em;
  }
}

