@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Raleway:wght@200;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(216, 250, 248, 1) 0%,
    rgba(39, 210, 202, 1) 41%,
    rgba(22, 178, 204, 1) 100%
  );
  font-family: 'Raleway', sans-serif;
}

.weather-container {
  position: absolute;
  width: 400px;
  height: 650px;
  top: 50%;
  left: 50%;
  border-style: none;
  border: 10px solid #294757;
  background-color: #294757;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.weather-content {
  color: #bac1c3;
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.cloudy {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.degree {
  font-size: 7rem;
  font-weight: 500;
}

.icon {
  width: 200px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 100%;
}

.cal-ation {
  line-height: 6rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: grid;
  place-items: center;
}

.calendar {
  font-size: 1.5rem;
}

hr {
  border: 0.5px solid rgb(153, 153, 153);
  width: 50%;
}

.location {
  font-size: 2.3rem;
  letter-spacing: 1.5px;
}
